<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: rgb(225, 55, 55);
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  

}

.navbar a {
  float: left;
  font-family: 'Acme', sans-serif;
  color: white;
  text-decoration: none;
}

.navbar .ok:hover {
  background-color:whitesmoke;
  color: black;
  
}


.ok {
  padding: 20px;
  font-size: 30px;
}
  </style>
</head>
<body>
  <div class="navbar">
    <div class="container" id="logo">
        <a href=""><img style="height: 76px; width: 82px;" src=" {% static "dash/LOGO.png" %} " alt=""></a>
        <a class="ok" style=" padding-left: 30px;" href="/" class="nav-item nav-link active">Home</a>
        <a class="ok" href="/teacher/teacherclick" class="nav-item nav-link">Teacher</a>
        <a class="ok" href="/student/studentclick" class="nav-item nav-link">Student</a>
        <a class="ok" href="/adminclick" class="nav-item nav-link">Admin</a>
      </div>
  </div>
</body>
</html>